@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css";

body {
  background: linear-gradient(135deg, #007bff, #6610f2);
  min-height: 100vh;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
