<div>
  <ul id="menu">
    <!-- 
    <li>
      <a [routerLink]="['/']">Home |</a>
    </li>
    <li>
      <a [routerLink]="['/cine']">Cine |</a>
    </li>
    <li>
      <a [routerLink]="['/musica']">Musica |</a>
    </li>
    <li>
      <a [routerLink]="['/numerodoble']">Doble |</a>
    </li>
    <li>
      <a [routerLink]="['/numerodoble/77']">Doble 77 |</a>
    </li>
    <li>
      <a [routerLink]="['/numerodoble/88']">Doble 88 |</a>
    </li>
    -->

    <!-- ✅ Dejamos solo el enlace al menú de tablas -->
    <li>
      <a [routerLink]="['/menutablamultiplicar']">Tablas de Multiplicar</a>
    </li>
  </ul>
</div>
