<div class="container">
  <h2>Plantilla Función Simple</h2>

  <label for="funcion-select">Selecciona función:</label>
  <select id="funcion-select" #seleccionFuncion>
    <option value="">-- Selecciona --</option>
    <option *ngFor="let func of funciones" [value]="func">{{ func }}</option>
  </select>

  <button (click)="buscarPlantillas()" [disabled]="!seleccionFuncion">Buscar</button>

  <table *ngIf="plantillas.length > 0">
    <thead>
      <tr>
        <th>ID Empleado</th>
        <th>ID Hospital</th>
        <th>ID Sala</th>
        <th>Apellido</th>
        <th>Función</th>
        <th>Turno</th>
        <th>Salario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of plantillas">
        <td>{{ p.idEmpleado }}</td>
        <td>{{ p.idHospital }}</td>
        <td>{{ p.idSala }}</td>
        <td>{{ p.apellido }}</td>
        <td>{{ p.funcion }}</td>
        <td>{{ p.turno }}</td>
        <td>{{ p.salario }}</td>
      </tr>
    </tbody>
  </table>
</div>
