/* Fondo degradado */
body, html {
  background: linear-gradient(135deg, #007bff, #6610f2);
  min-height: 100vh;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

/* Tarjeta */
.card {
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  color: #fff;
}

/* Botones */
.btn {
  font-weight: bold;
  letter-spacing: 0.5px;
}

/* Navbar personalizada */
.navbar {
  border-radius: 8px;
}

.nav-link.active {
  font-weight: bold;
  color: #ffc107 !important;
}
